In [2]:
import numpy as np
import pandas as pd

In [3]:

df = pd.DataFrame(data)

df['animal'] = df['animal'].astype('category')

print(df)
print("\nData types:\n", df.dtypes)

  animal
0    cat
1    dog
2    cat
3    dog
4    cat
5    dog

Data types:
 animal    category
dtype: object

In [10]:
def ordinal_encoding(data):
    unique_categories = sorted(set(data))
    
    ordinal_mapping = {}
    index = 1  
    for category in unique_categories:
        ordinal_mapping[category] = index
        index += 1
    
    encoded_data = []
    for category in data:
        encoded_data.append(ordinal_mapping[category]) 
    
    return encoded_data, ordinal_mapping

data = ['cat', 'dog', 'dog', 'cat', 'rabbit', 'cat', 'rabbit']

encoded_data, ordinal_mapping = ordinal_encoding(data)

print("Original Data: ", data)
print("Ordinal Mapping: ", ordinal_mapping)
print("Encoded Data: ", encoded_data)

Original Data:  ['cat', 'dog', 'dog', 'cat', 'rabbit', 'cat', 'rabbit']
Ordinal Mapping:  {'cat': 1, 'dog': 2, 'rabbit': 3}
Encoded Data:  [1, 2, 2, 1, 3, 1, 3]

In [16]:
df = pd.DataFrame(data)
df
df['ordinal']=encoded_data
df

        0  ordinal
0     cat        1
1     dog        2
2     dog        2
3     cat        1
4  rabbit        3
5     cat        1
6  rabbit        3

In [19]:
def one_hot_encoding(data):
    unique_categories = list(set(data))  
    one_hot_mapping = {}
    
    for category in unique_categories:
        one_hot_vector = [0] * len(unique_categories)  
        index = unique_categories.index(category) 
        one_hot_vector[index] = 1  
        one_hot_mapping[category] = one_hot_vector 
    
    encoded_data = []
    for category in data:
        encoded_data.append(one_hot_mapping[category]) 
    
    return encoded_data, unique_categories
encoded_data, categories = one_hot_encoding(data)

print("Original Data: ", data)
print("Categories: ", categories)
print("One-Hot Encoded Data: ")
for i in range(len(data)):
    print(f"{data[i]}: {encoded_data[i]}")
encoded_data

Original Data:  ['cat', 'dog', 'dog', 'cat', 'rabbit', 'cat', 'rabbit']
Categories:  ['cat', 'rabbit', 'dog']
One-Hot Encoded Data:
cat: [1, 0, 0]
dog: [0, 0, 1]
dog: [0, 0, 1]
cat: [1, 0, 0]
rabbit: [0, 1, 0]
cat: [1, 0, 0]
rabbit: [0, 1, 0]

[[1, 0, 0], [0, 0, 1], [0, 0, 1], [1, 0, 0], [0, 1, 0], [1, 0, 0], [0, 1, 0]]

In [32]:
df['cat'] = [encoded_data[i][0] for i in range(len(encoded_data))]
df['dog'] = [encoded_data[i][2] for i in range(len(encoded_data))]
df['rabbit'] = [encoded_data[i][1] for i in range(len(encoded_data))]
df

        0  ordinal  cat  dog  rabbit
0     cat        1    1    0       0
1     dog        2    0    1       0
2     dog        2    0    1       0
3     cat        1    1    0       0
4  rabbit        3    0    0       1
5     cat        1    1    0       0
6  rabbit        3    0    0       1